.base-header{
    height: fit-content;
    padding: 1.5vh 5vw;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color:  rgb(76, 124, 142); */
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.2); */
    background-color: rgb(76, 89, 93);
}

.base-active-link{
    color: rgb(255, 255, 255);
    font-size: 2vh;
    /* font-weight: bold; */
}

.base-header-link{
    color: white;
    font-size: 2vh;
}

.base-nav{
    display: flex;
    list-style-type: none;
    gap: 2vw;
}

.base-logo-container{
    display: flex;
    align-items: center;
    gap: 0;
}

.base-logo{
    width: 4vw;
    color: rgb(15, 146, 15);
}

.base-title{
    font-size: 1.2vw;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.base-header-left{
    display: flex;
    align-items: center;
    gap: 10vw;
    flex-grow: 5;
}

.base-user-container{
    display: flex;
    gap: 2vw;
}

.base-content-container{
    min-height: 78.6vh;
    /* ширина картинки */
}

.base-footer{
    padding: 1.5vh 5vw;
    /* 4vh ширина футера */
    /* background-color: rgb(76, 124, 142); */
    background-color: rgb(76, 89, 93);
    /* цвет футера */
    display: flex;
    justify-content: space-between;
    /* opacity: 0.5; */
}

.base-footer-nav{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.base-footer-link{
    color: white;
    font-size: 2vh;

    display: flex;
    gap: 0.5vw;
    align-items: center;
}

.base-footer-nav-container{
    display: flex;
    gap: 70vw;
    list-style-type: none;
}

.base-nav-icon{
    width: 1vw;
}

.main-fon{
    background-image: url("/media/trains-img/Frame1.1.png");
    background-size: cover;
}


